<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Password reset</title>
</head>
<body>
	<h2>Password reset</h2>
<P>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
	
<form method="post">
	{% csrf_token %}
    {{form.as_p}}
	<button type="submit">Reset my password</button>
</form>	 

</body>
</html>

<style>
	form{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 400px;
		height: 300px;
		background-color: aqua;


	}
	#id_email{
		width: 300px;
		height: 40px;
	}
</style>